<div style="margin: 30px 100px 0 100px">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Year</th>
      <th scope="col">Imdb</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let movie of movieList; let i = index" (click) = "onRowClick(i)">
      <th scope="row">{{movie.Id}}</th>
      <td>{{movie.Name}}</td>
      <td>{{movie.Description}}</td>
      <td>{{movie.Year}}</td>
      <td>{{movie.Imdb}}</td>
      <td>
        <button id="deleteButton" type="button" class="btn btn-danger" style="margin-right: 10px" (click)="deleteMovieButtonClick()">
          <i class="bi bi-trash"></i>
        </button>
        <button type="button" class="btn btn-warning" (click)="updateMovieButton()">
          <i class="bi bi-pencil-fill"></i>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<app-create></app-create>
<app-delete (deleteModalClosed)="deleteModelClosed()"></app-delete>
<app-update></app-update>